fastapi
uvicorn
sqlalchemy
python-multipart
qdrant-client
llama-index-core
llama-index-vector-stores-qdrant
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-embeddings-huggingface
llama-index-llms-openai-like
sentence-transformers
llama-index-llms-groq
python-dotenv
requests
duckduckgo-search
pymupdf4llm
python-docx
flashrank
pytest
httpx
